<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">

    <title>PeerShare</title>
</head>

<body>

<div id="app">
    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="imgs/logo-grydtech.png" class="d-inline-block align-top logo" alt="">
            <span class="logo-text">PeerShare</span>
            <span class="logo-text-small"> | Distributed file sharing platform</span>
        </a>

        <form class="form-inline my-2 my-lg-0">
            <input v-model="searchText" class="form-control mr-sm-2" type="search" placeholder="Search"
                   aria-label="Search">
            <button v-on:click="search()" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
        </form>
    </nav>

    <div class="container results-area">
        <div class="row">
            <div class="col-5 pr-5">
                <h2 class="pb-5">Routing Table</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Host</th>
                            <th scope="col">Port (TCP)</th>
                            <th scope="col">Port (UDP)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="entry in routingTable">
                            <td>{{entry.host}}</td>
                            <td>{{entry.port}}</td>
                            <td>{{entry.udpPort}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-7 pl-5">
                <h2 class="pb-5">Search Results</h2>

                <div v-for="searchResult in searchResults" class="card mb-3" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{searchResult.fileName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Url: {{searchResult.fileUrl}}</h6>
                        <a v-bind:href="searchResult.fileUrl" target="_blank" class="btn btn-primary">Download</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Vue.js -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vuex"></script>

<!-- SockJs and StompJs -->
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.3.0/dist/sockjs.min.js"></script>
<script src="js/stomp.js"></script>

<!-- Axios client -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- Jquery, PopperJs and BootstrapJs -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- Custom Javascript -->
<script src="js/main.js"></script>

</body>

</html>