<!doctype html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/loading.css">

    <title>PeerShare</title>
</head>

<body>

<div id="app">

    <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="imgs/logo-grydtech.png" class="d-inline-block align-top logo" alt="">
            <span class="logo-text">PeerShare</span>
            <span class="logo-text-small"> | Distributed file sharing platform</span>
        </a>

        <form class="form-inline my-2 my-lg-0">
            <input v-model="searchText" class="form-control mr-sm-2" type="search" placeholder="Search"
                   aria-label="Search">
            <button v-on:click="search()" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
        </form>
    </nav>

    <div class="container results-area">
        <div class="row">
            <div class="col-5 pr-5">
                <h2 class="pb-5">Routing Table</h2>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Host</th>
                        <th scope="col">Port (TCP)</th>
                        <th scope="col">Port (UDP)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="entry in routingTable">
                        <td>{{entry.host}}</td>
                        <td>{{entry.port}}</td>
                        <td>{{entry.udpPort}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-7 pl-5">
                <h2 class="pb-5">Search Results</h2>

                <div v-for="searchResult in searchResults" class="card mb-3" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Name: {{searchResult.fileName}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Url: {{searchResult.fileUrl}}</h6>
                        <p class="card-text">Hops: {{searchResult.hops}}</p>
                        <button v-on:click="download(searchResult.fileName, searchResult.fileUrl)"
                                class="btn btn-primary">Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div v-if="downloadStatus.inProgress" class="loading-area">
        <div class="loading">
            <div class="lds-css ng-scope">
                <div class="lds-spinner" style="width: 100%; height:100%">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="verificationModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">File Download Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    File saved to <span class="text-primary">{{downloadStatus.filePath}}</span><br>
                    File size: {{downloadStatus.fileSize}} bytes<br>
                    File hash (received): {{downloadStatus.receivedHash}}<br>
                    File hash (generated): {{downloadStatus.generatedHash}}<br>
                    File verification
                    <span v-if="downloadStatus.status === 'VALIDATION_SUCCESSFUL'"
                          class="text-success">Successful</span>
                    <span v-if="downloadStatus.status === 'VALIDATION_FAILED' || downloadStatus.status === 'DOWNLOAD_FAILED'"
                          class="text-danger">Failed</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap -->
<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>

<!-- Vue.js -->
<script src="js/vue.js"></script>

<!-- SockJs and StompJs -->
<script src="js/sock.js"></script>
<script src="js/stomp.js"></script>

<!-- Custom Javascript -->
<script src="js/main.js"></script>

</body>

</html>